<div fxLayout="row" fxLayoutAlign="center center" class="logincomp">
    <img fxFlex="35%" src="/assets/man2-first.png"  />
    <mat-card fxFlex="25%"  class="row-height">
        <mat-card-header>
            <mat-card-title>Never Miss your loved ones on their Special Day!</mat-card-title>
            <mat-card-subtitle>
                <div mat-card-avatar  style= "background-image: url('/assets/man.png'); background-size: contain;"></div>
            </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content fxLayout="column">
            <button mat-raised-button color="primary" (click)= "taskService.googleSignin()"  > Google Login</button>
        </mat-card-content>          
    </mat-card>
    <img fxFlex="35%" src="/assets/man1-first.png"  />
</div>