
<div
  gdAreas="header header | side content"
  gdGap="16px"
  gdRows="auto 80vh"
  gdColumns="auto 50vw"
  gdAreas.lt-md="header | side | content"
  gdRows.lt-md="auto auto auto"
  gdColumns.lt-md="auto"
>
  <div gdArea="header">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>my-member.com</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div gdArea="side" [ngStyle]="{'margin-left.px': 25}"   [ngStyle.lt-md]="{ 'margin-right.px': 25}" >
    <app-stepper-first></app-stepper-first>
    
    </div>
  <div gdArea="content" [ngStyle]="{'background-color':'yellow', 'margin-right.px': 25}"  [ngStyle.lt-md]="{'background-color':'yellow', 'margin-left.px': 25}" >
    <app-stepper-details></app-stepper-details>
  </div>
</div>