<h1>Hi How are you!</h1>
    <video #video autoplay playsinline [ngStyle]="getStyles()"></video>
    
    <img #picture >
    <canvas #canvas id="canvas" width="200" height="200" style="border:1px solid #d3d3d3;" ></canvas>
    <button (click)="takePicture()">Take Picture</button>
    
    <pre>{{labels | json}}</pre>
    
    <label><input type="checkbox" [checked]="blur" (change)="blur = !blur">blur</label>
    <label><input type="checkbox" [checked]="sepia" (change)="sepia = !sepia">sepia</label>
    <label><input type="checkbox" [checked]="invert" (change)="invert = !invert">invert</label>
    <label><input type="checkbox" [checked]="flip" (change)="flip = !flip">flip</label>