<!--
<div fxLayout="column" fxLayoutAlign="center"  fxLayoutGap="10%">

    <div fxFlex="0 1 30vh"  fxLayoutGap="10%" fxLayoutAlign="center">
        <mat-icon fxFlexAlign="center" > fast_rewind </mat-icon>
            <mat-card style= "max-width: 20%;" >
                <mat-card-header>
                <mat-card-title>Dad</mat-card-title>
                <mat-card-subtitle>Manoj</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/man.png" alt="Photo of Manoj">
                <mat-card-content>
                <p>
                    Dad
                </p>
                </mat-card-content>
            </mat-card>
           
        <mat-card style= "max-width: 20%;" >
                <mat-card-header>
                <mat-card-title>Mom</mat-card-title>
                <mat-card-subtitle>Annie</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/women.png" alt="Photo of Annie">
                <mat-card-content>
                <p>
                    Mommy
                </p>
                </mat-card-content>
        </mat-card>
        <mat-icon fxFlexAlign="center"> fast_forward </mat-icon>
    </div>
    
    <div fxFlex="0 1 30vh"  fxLayoutGap="10%" fxLayoutAlign="center">
        <mat-card style= "max-width: 30%;" >
        <mat-card-header>
            <div mat-card-avatar style= "    background-image: url('/assets/girl.png'); background-size: contain;"></div>
            <mat-card-title>Daughter</mat-card-title>
            <mat-card-subtitle>Annie</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/girl.png" alt="Photo of Angelin">
        <mat-card-content>
            <p>
                Angelin
            </p>
        </mat-card-content>
        </mat-card>

        <mat-card style= "max-width: 30%;" >
            <mat-card-header>
                <div mat-card-avatar style= "background-image: url('/assets/boy.png'); background-size: contain;"></div>
                <mat-card-title>Brother</mat-card-title>
                <mat-card-subtitle>Ashwin</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/boy.png" alt="Photo of Ashwin">
            <mat-card-content>
                <p>
                    Brother
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
-->

    
<tr *ngFor="let task of tasks | async; let i = index" >
    <td>{{i + 1}}</td>
    <td>{{task?.description}}</td>
    <td>
        <button class="btn btn-success" (click)="edit(task)">
          Edit
        </button>
        <button class="btn btn-danger" (click)="deleteTask(task)">
          Remove
        </button>
      </td>
 </tr>

 <form #f>
    <div class="form-group">
    <input [(ngModel)]="myTask" name="myTask" type="text" class="form-control" placeholder="Enter Task" required>
    </div>
    <p *ngIf="loading">
       <i class="fa fa-spinner fa-spin"></i>
    </p>
    <div class="form-group">
     <button class="btn btn-primary"  (click)="saveTask()">
       Save Task
     </button>
    </div>
  </form>
  <div *ngIf="taskService.user$ | async as user">
    <img  [src]="user.photoURL" >
    <p>URL: {{user.photoURL}}</p>
    <p>UID: {{ user.uid }}</p>
  </div>
  <img #imgelement (load)="onImageLoad()">
  <canvas  #canvas id="canvas" width="200" height="200" style="border:1px solid #d3d3d3;" >
        
</canvas>



